In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Step 1 - Scraping

## Nasa Mars News

In [2]:
# NASA Mars News Site url
nasa_url = 'https://mars.nasa.gov/news'

In [3]:
# Retrieve page with the requests module
nasa_response = requests.get(nasa_url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
nasa_soup = BeautifulSoup(nasa_response.text, 'html.parser')

In [12]:
# Find the Latest Nasa Mars News Title and Text
news_title = nasa_soup.find('div', class_="content_title").text
news_p = nasa_soup.find('div', class_="rollover_description_inner").text
print(news_title)
print(news_p)

Opportunity Hunkers Down During Dust Storm



It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.

## JPL Mars Space Images - Featured Image

In [14]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
# JPL Featured Space Image url
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [16]:
html = browser.html
jpl_soup = BeautifulSoup(html, 'html.parser')

In [17]:
# Identify the Featured Image url
image_url = jpl_soup.find('article')['style'].split(":")[1].split("'")[1]
featured_image_url = jpl_url[0:24] + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18358-1920x1200.jpg

## Mars Weather

In [18]:
# Mars Weather Twitter url
mars_twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_twitter_url)

In [19]:
html = browser.html
mars_twitter_soup = BeautifulSoup(html, 'html.parser')

In [20]:
# Identify the latest Mars Weather Tweet
mars_weather = mars_twitter_soup.find('p', class_="TweetTextSize").text.split(",")
print(mars_weather)

['Sol 2171 (2018-09-14)', ' high -12C/10F', ' low -65C/-84F', ' pressure at 8.79 hPa', ' daylight 05:43-17:59']

## Mars Facts

In [21]:
# Identify facts table from Mars Facts url
mars_facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
# Convert to DataFrame
mars_df = tables[0]
mars_df.columns = ['Description', 'Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
# Convert mars_df to html table and save to mars_table.html file
mars_html_table = mars_df.to_html(index=False, index_names=False, table_id='mars_facts')
mars_df.to_html('../mars_table.html', index=False, index_names=False, table_id='mars_facts')
mars_html_table

'<table border="1" class="dataframe" id="mars_facts">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [30]:
# Identify hemisphere_image_urls
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},    
]